@{
  Layout = "_Layout";
}

@model FoodFinder.Models.Ingredient

<h1>INGREDIENT DETAILS:</h1>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h4>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Ingredient does not belong to any Recipes</p>
}
else
{
  <h4>Recipes the Ingredient belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Recipe.Name</li>
    @using (Html.BeginForm("DeleteRecipe", "Ingredients"))
    {
      @Html.Hidden("joinId", @join.IngredientRecipeId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add a Recipe", "AddRecipe", new { id = Model.IngredientId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Ingredient", "Edit", new { id = Model.IngredientId })</p>
<p>@Html.ActionLink("Delete Ingredient", "Delete", new { id = Model.IngredientId })</p>